@font-face {
    font-family: 'robotothin';
    src: url('../fonts/Roboto/light/Roboto-Thin.eot');
    src: url('../fonts/Roboto/light/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/light/Roboto-Thint.woff') format('woff'),
         url('../fonts/Roboto/light/Roboto-Thin.ttf') format('truetype'),
         url('../fonts/Roboto/light/Roboto-Thin.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto/regular/Roboto-Regular.eot');
    src: url('../fonts/Roboto/regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/regular/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto/regular/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/Roboto/regular/Roboto-Regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/Roboto/medium/Roboto-Medium.eot');
    src: url('../fonts/Roboto/medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto/medium/Roboto-Medium-.woff') format('woff'),
         url('../fonts/Roboto/medium/Roboto-Mediumt.ttf') format('truetype'),
         url('../fonts/Roboto/medium/Roboto-Medium.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}