<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <title>360training | Dashboard</title>

	<!-- BEGIN CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/plugins/bootstrap-3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../assets/css/dashboard.css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- END CSS -->

    <!-- BEGIN SCRIPTS -->
    <script type="text/javascript" src="../assets/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/plugins/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../assets/plugins/jquery.ui.touch-punch.min.js"></script>

    <script type="text/javascript" src="../assets/plugins/html5shiv.js"></script>
    <script type="text/javascript" src="../assets/plugins/respond.min.js"></script>
	<script type="text/javascript" src="../assets/plugins/modernizr.js"></script>
	<script type="text/javascript" src="../assets/plugins/platform.js" async defer></script>
	<script type="text/javascript" src="../assets/plugins/bootstrap-3.3.6/js/bootstrap.min.js"></script>

    <script type='text/javascript' src="../assets/scripts/ui.js"></script>
	<!-- END SCRIPTS -->

</head>

<body>

	<!-- BEGIN WRAPPER -->
    <div id="wrapper">

		<nav class="navbar-fixed-top">
			<a class="brand" href="#"></a>
			<ul class="menu">
				<li class="user-detail">
					<a href="#"><div class="username">Username</div>
					<div>emailaddress@email.com</div></a>
				</li>
				<li>
					<button data-toggle="dropdown" class="dropdown-toggle" type="button"><span class="glyphicon glyphicon-menu-down"></span></button>
					<ul role="menu" class="dropdown-menu dropdown-menu-right">
						<li><a href="#" class="active">Account Information</a></li>
						<li><a href="#">Address Book</a></li>
						<li><a href="#">My Orders</a></li>
						<li><a href="#">Billing & Subscription</a></li>
						<li><a href="#">Support</a></li>
						<li class="divider"></li>
						<li><a href="#">Terms Of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li class="divider"></li>
						<li><a href="#">Sign Out</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<div class="sidebar">
		  <h4 class="heading"><span>Dashboard</span></h4>
		  <div class="items" id="left-nav-acc">
			  <div class="panel">
				<button class="collapsed learn" data-toggle="collapse" data-parent="#left-nav-acc" href="#left-nav-1" aria-controls="left-nav-1"><span>Learn</span></button>
				<div id="left-nav-1" class="panel-collapse collapse">
					<a href="#" class="courses-icon active">My Courses</a>
					<a href="#" class="subscriptions-icon">My Subscriptions</a>
				</div>
			  </div>
			  <div class="panel">
				<button class="collapsed author" data-toggle="collapse" data-parent="#left-nav-acc" href="#left-nav-2" aria-controls="left-nav-2"><span>Author</span></button>
				<div id="left-nav-2" class="panel-collapse collapse">
					<a href="#" class="create-course-icon">Create & Manage Courses</a>
					<a href="#" class="course-report-icon">Course Reports</a>
				</div>
			  </div>
			  <div class="panel">
				<button class="collapsed manage" data-toggle="collapse" data-parent="#left-nav-acc" href="#left-nav-3" aria-controls="left-nav-3"><span>Manage</span></button>
				<div id="left-nav-3" class="panel-collapse collapse">
					<a href="#" class="manage-users-icon">Manage Users</a>
					<a href="#" class="enroll-users-icon">Enroll Users</a>
					<a href="#" class="run-report-icon">Run Reports</a>
				</div>
			  </div>
			  <div class="panel">
				<button class="collapsed resources" data-toggle="collapse" data-parent="#left-nav-acc" href="#left-nav-4" aria-controls="left-nav-4"><span>Resources</span></button>
				<div id="left-nav-4" class="panel-collapse collapse">
					<a href="#" class="shop-icon">Shop Courses</a>
					<a href="#" class="browse-free-courses-icon">Browse Free Courses</a>
					<a href="#" class="support-icon">Support Forum</a>
				</div>
			  </div>
		  </div>
		  <button id="left-collapse-btn" class="collapse-btn"></button>
		</div>
		<div class="main">
		  <h1 class="page-heading">My Courses</h1>
		  <h2 class="page-heading">My Courses</h2>
		  <h3 class="page-heading">My Courses</h3>
		  <h4 class="page-heading">My Courses</h4>
		  <h5 class="page-heading">My Courses</h5>
		  <h6 class="page-heading">My Courses</h6>

		  <div class="row placeholders hide">
			<div class="col-xs-6 col-sm-4 placeholder">
			  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			  <h4>11</h4>
			  <span class="text-muted">Number Of My Courses</span>
			</div>
			<div class="col-xs-6 col-sm-4 placeholder">
			  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			  <h4>3,456</h4>
			  <span class="text-muted">Courses In Your Subscription</span>
			</div>
			<div class="col-xs-12 col-sm-4 placeholder">
			  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			  <h4>2</h4>
			  <span class="text-muted">Courses You've Completed</span>
			</div>
		  </div>

		  <h2 class="page-heading hide">Section title</h2>
		  <div class="table-responsive hide">
			<table class="table table-striped">
			  <thead>
				<tr>
				  <th>#</th>
				  <th>Header</th>
				  <th>Header</th>
				  <th>Header</th>
				  <th>Header</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>1,001</td>
				  <td>Lorem</td>
				  <td>ipsum</td>
				  <td>dolor</td>
				  <td>sit</td>
				</tr>
				<tr>
				  <td>1,002</td>
				  <td>amet</td>
				  <td>consectetur</td>
				  <td>adipiscing</td>
				  <td>elit</td>
				</tr>
				<tr>
				  <td>1,003</td>
				  <td>Integer</td>
				  <td>nec</td>
				  <td>odio</td>
				  <td>Praesent</td>
				</tr>
				<tr>
				  <td>1,003</td>
				  <td>libero</td>
				  <td>Sed</td>
				  <td>cursus</td>
				  <td>ante</td>
				</tr>
				<tr>
				  <td>1,004</td>
				  <td>dapibus</td>
				  <td>diam</td>
				  <td>Sed</td>
				  <td>nisi</td>
				</tr>
				<tr>
				  <td>1,005</td>
				  <td>Nulla</td>
				  <td>quis</td>
				  <td>sem</td>
				  <td>at</td>
				</tr>
				<tr>
				  <td>1,006</td>
				  <td>nibh</td>
				  <td>elementum</td>
				  <td>imperdiet</td>
				  <td>Duis</td>
				</tr>
				<tr>
				  <td>1,007</td>
				  <td>sagittis</td>
				  <td>ipsum</td>
				  <td>Praesent</td>
				  <td>mauris</td>
				</tr>
				<tr>
				  <td>1,008</td>
				  <td>Fusce</td>
				  <td>nec</td>
				  <td>tellus</td>
				  <td>sed</td>
				</tr>
				<tr>
				  <td>1,009</td>
				  <td>augue</td>
				  <td>semper</td>
				  <td>porta</td>
				  <td>Mauris</td>
				</tr>
				<tr>
				  <td>1,010</td>
				  <td>massa</td>
				  <td>Vestibulum</td>
				  <td>lacinia</td>
				  <td>arcu</td>
				</tr>
				<tr>
				  <td>1,011</td>
				  <td>eget</td>
				  <td>nulla</td>
				  <td>Class</td>
				  <td>aptent</td>
				</tr>
				<tr>
				  <td>1,012</td>
				  <td>taciti</td>
				  <td>sociosqu</td>
				  <td>ad</td>
				  <td>litora</td>
				</tr>
				<tr>
				  <td>1,013</td>
				  <td>torquent</td>
				  <td>per</td>
				  <td>conubia</td>
				  <td>nostra</td>
				</tr>
				<tr>
				  <td>1,014</td>
				  <td>per</td>
				  <td>inceptos</td>
				  <td>himenaeos</td>
				  <td>Curabitur</td>
				</tr>
				<tr>
				  <td>1,015</td>
				  <td>sodales</td>
				  <td>ligula</td>
				  <td>in</td>
				  <td>libero</td>
				</tr>
			  </tbody>
			</table>
		  </div>
		</div>

		<div id="content-overlay"></div>
	</div>
    <!-- END WRAPPER -->

    <script>
		$(function(){

			$('#left-collapse-btn').click(function(){
				leftNav($("#wrapper").hasClass("left-toggle"));
			});
			$('#left-nav-acc').on('show.bs.collapse', function(){leftNav(true)}).on('hide.bs.collapse', function(){leftNav(true)});
			$("#content-overlay").click(function(){
				leftNav(false);
			});
			leftNav(true);
		})

		function leftNav(isOpen)
		{
			if(!isOpen)
			{
				$('#left-collapse-btn').tooltip("destroy").tooltip({container:'body',placement:'right',animation:false,title:"Expand"});
				$('#left-nav-acc').children().each(function(){
					$(this).tooltip({container:'body',placement:'right',animation:false,title:$(this).find("button[data-toggle=collapse]").text()});
				});
				$("#wrapper").addClass("left-toggle");
			}
			else
			{
				$('#left-collapse-btn').tooltip("destroy").tooltip({container:'body',placement:'right',animation:false,title:"Collapse"});
				$('#left-nav-acc .panel').tooltip("destroy");
				$("#wrapper").removeClass("left-toggle");
			}
		}
	</script>
</body>
</html>
